
body {
	margin: 0;
}

p {
	font-family: PT Sans, Arial;
	font-size: 14px;
}

.leaflet-popup-content-wrapper .leaflet-popup-content h1 {
	font-family: PT Sans Narrow;
	font-weight: normal;
	margin-bottom: 5px;
	font-size: 28px;
}

#container {
	width: 100%;
}

#map-wrapper {
	display: inline-block;
	position: absolute;
	width: 80%;
}

#mapid { 
	height: 800px;
}

#key {
	position: relative;
	float: right;
	height: 800px;
	width: 20%;
	z-index: 314159;
	background-color: #f3f3f3;
}

#hamburger-wrapper {
	display: inline-block;
}

#hamburger {
	top: 10px;
	align-content: center;
	width: 38px;
}

#hamburger i {
	padding-right: 20px;
}

#logo {
		position: absolute;
	    	top: 752px;
	    	right: 7px;
	    	z-index: 9000;
		height: 30px;
		width: 30px;
		background-image:url(logo.png);
		background-repeat: no-repeat;
}

#key i {
	padding-right: 5px;
}

#circle-1 {
      width: 12px;
      height: 12px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: orange;
			display: inline-block;
			margin-right: 5px;
    }
		
#circle-2 {
      width: 12px;
      height: 12px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: gray;
			display: inline-block;
			margin-right: 5px;
    }

.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

@media (max-width: 1200px) {
	#map-wrapper {
		width: 75%;
	}
	#key {
		width: 25%;
	}
}

@media (max-width: 800px) {
	#map-wrapper {
		width: 100%;
	}
	#key {
		width: 0%;
	}
	#hamburger {
		position: fixed;
		right: 8px;
		top: 8px;
		display: inline;
	}
	#filter-wrapper {
		visibility: hidden;
	}
}

@media (min-width: 801px) {
	#hamburger {
		display: none;
	}
}

#key.uncollapse {
	width: 75%;
}

#hamburger.uncollapse {
	display: inline-block;
	position: relative;
	left: 10px;
}

#hamburger-wrapper.uncollapse {
	position: static;
	height: 40px;
}

#filter-wrapper.uncollapse {
	visibility: visible;
}

#map-wrapper.uncollapse {
	width: 25%;
}
